header {
  display: flex;
  border-bottom: 1px solid;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.logo span {
  color: MediumAquamarine;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.main-content-container {
  display: flex;
  padding-top: 10px;
}
div {
  border: 1px solid;
}
